@import url('common.css');
@import url('https://fonts.googleapis.com/css?family=Baloo&display=swap');



/**css-----------------------------------------------------------------------*/


.total{margin:0 235px;}

/*--------------header입니다-------------*/

#total{
    width:100%;
}

/* header */

header{
    width:100vw;
    position:fixed;
    z-index:100;
    background-color:#fff;
    padding:0.5% 10%;
    border:1px solid #ccc;
}

header .header_wrap{
    width:100%;
    display:flex;
    justify-content:space-between;
}
.header_left{
    display:flex;
}
.header_wrap .logo{
    margin-right:5vw;
    margin-top:4%;
}
.header_wrap .logo figure{
    width:100%;
}
.header_wrap .logo figure img{
    width:100%;
}
/* -------------- navigation 1depth ---------------- */

.header_wrap nav{
    position:relative;
    width:100%;
}

.header_wrap nav > ul{
    display:flex;
    margin:5% 0%;
    position:relative;
    justify-content:space-between;
}
.header_wrap nav > ul > li{
    /* word-spacing:30px; */
}
nav ul li{
    position:relative;
    font-size:0;
    margin:0 4vw 0 0;
    /* text-align:center; */
}

nav ul li > a:nth-of-type(1){
    position:relative;
    font-size:0.9vw;
}

nav ul li > a:nth-of-type(1):after{
    content:'';
    position:absolute;
    left:50%;
    width:0%;
    height:2px;
    background:#333;
    transition:.5s;
    bottom:-5px;
}

nav ul li:hover > a:nth-of-type(1):after{
    width:100%;
    left:0;
}

nav ul li div{
    display:none;
    overflow:hidden;
}
nav ul li:hover div{
    display:block;
}
nav ul li div > a{
    margin-top:15px;
    line-height:30px;
    text-align:center;
    display:block
}
nav ul li div > a{
    font-size:0.7vw;
}
nav ul li div > a:hover{
    background-color:#ccc;
}
nav ul li div > a:hover{
    color:#fff;

}
.burger_menu{
    display:none;
}
.burger_menu span{
    width:20px;
    height:2px;
    background:#333;
    position:absolute;
    display:none;
}
.burger_menu span:nth-of-type(1){
    top:6px;
}
.burger_menu span:nth-of-type(2){
    top:12px;
}
.burger_menu span:nth-of-type(3){
    top:18px;
}

.header_right{
    display:flex;
}
/* ---------------- header quick_menu --------------- */
.header_wrap .quick_menu{
    margin:35px 0;
    word-spacing:15px;
}
.header_wrap .quick_menu a{}


.header_wrap .quick_menu a img{
    width:15px;
    height:15px;
}
.header_wrap .search_box{
    margin:35px 0;
}
/* .header_wrap .search_box form{}
/* .search_box input{
    border-top:none;
    border-right:none;
    border-left:none;
} */
/* .search_box img{
    width:15px;
    height:15px;
} */

/* ---------------- header quick_menu --------------- */
.header_wrap .quick_menu{
    margin:35px 0;
    margin-right:30px;
    word-spacing:15px;
}
.header_wrap .quick_menu a{}
.header_wrap .quick_menu a img{
    width:15px;
    height:15px;
}
.header_wrap .search_box{
    margin:35px 0;
}
/* .header_wrap .search_box form{}
/* .search_box input{
    border-top:none;
    border-right:none;
    border-left:none;
} */
/* .search_box img{
    width:15px;
    height:15px;
} */


/*룸박스*/

/*헤더와 문제가 있을시 마진top 값을 조정해주세요^^*/
.roombox{
    border-bottom: 1px solid #ccc;
    padding-top:135px;
}
.roombox h2{
    font-size: 2.08em;
    color: #333;
    margin-top: 35px;
    margin-bottom: 25px;
    font-weight: lighter;
}

.roombox p a{color: black;
margin-bottom: 35px;
}


/*section*/
section{overflow: hidden;
margin-top: 35px;}
section figure{float: left;}
section figure img{
    margin-right: 70px;
    width: 500px; height: 500px;
    border: 1px solid #ccc;
}
section figure 

section .number{width: 10px;}

section .listname{}

section .listname span input{width: 50px;}

section .listname strong{margin-bottom: 25px;
font-size: 25px;
color: black;}

section .listname p:nth-of-type(1){margin-bottom: 25px;}

section .listname p:nth-of-type(5){margin-top: 25px;}

section .listname p{margin-bottom: 25px;}

section .button a{margin-top: 100px;
border: 1px solid #ccc;
padding:20px 80px;
color: black;
}

section .button a:nth-of-type(1){
    color: white;
    background: #313135;
}

section .button a:nth-of-type(2){

    margin: 0 23px;
}

section select option:nth-of-type(5){
    color: pink;
}

.section2{margin-top: 75px;
 margin-bottom: 300px;
}

.section2 .button2{display: flex;
justify-content: space-between;
align-items: center;
    vertical-align: middle;
width:100%;
padding:20px 0;}


/*
.section2 a{
    border:1px solid white;
    font-size: 18px;
    text-align: center;
    color: black;
    width: 490px;
    height: 50px;
    padding-top: 12px;
    background: #f29a82;
          
}
*/
/*.section2 a:nth-of-type(1){color: white;}*/

/*
.section2 a:hover{
    text-decoration: underline;
}
*/

/*탭메뉴 css 구현하기*/
ul{list-style:none;}

.tabmenu{ 
  margin: 0 auto; 
  position:relative; 
border-bottom: 1px solid black;
    padding-bottom: 30px;
}

.tabmenu ul{
    margin: 0 100px;
width:100%;
}
.tabmenu ul li{
  display:  inline-block;
  width:400px; 
  float:left;  
  text-align:center; 
  background :white;
    border: 1px solid black;
/*
    
        border:1px solid white;
    font-size: 18px;
    text-align: center;
    color: black;
    width: 490px;
    height: 50px;
    padding-top: 12px;
    background: #f29a82;
*/
}
.tabmenu label{
  display:block;
  width:100%; 
  height:40px;
  line-height:40px;
    color: black;
}
.tabmenu input{display:none;}
.tabCon{
  display:none; 
  text-align:left; 
  padding: 20px;
  position:absolute; 
  left:0; top:40px; 
  box-sizing: border-box; 
}
.tabmenu input:checked ~ label{
  background:#313135;
    color: white;
}
.tabmenu input:checked ~ .tabCon{
  display:block;
}
/*---------------------------------------*/


.tabmenu ul li .pre1,.pre2,.pre3{
        margin-top: 50px;
text-align: center;
}

.tabmenu ul li .pre1{
    margin-left: 30vw;
}
.tabmenu ul li .pre2{
    margin-left: 23vw;
}

.tabmenu ul li .pre3{
    margin-left: 24vw;

}

/*하단*/

.next{margin-top: 70px;}
.next p{text-align: center;
color: black;
}

/*
 1:1 채팅 
.feedback{
    width: 50px; height: 50px;
    background: #fff url('../img/sub_detail/kk.png') no-repeat center;
    background-size: 100%;
    border: 2px solid #333;
    position: fixed; z-index: 100;
    right: 100px; bottom: 60px
}
.feedback img{
    width: 100%;

}
*/

/* footer */

footer{
    width:100%;

    margin:35px 0;
}
.footer_tit{
    width:100%;
    padding:0 11% ;
    background:#ccc;}
.tit_wrap{
    width:100%;
    display:flex;
    justify-content:space-between;
}
.sitemap{
    margin-right:35px !important;
}
.footer_tit ul{
    display:flex;
    margin:2% 0;
    justify-content:space-around;
}
.footer_tit div{
    display:flex;
    margin:2% 0;
}

.footer_tit ul li{
    margin:0 35px;
}

.footer_tit div p{
    margin:0 35px;
}

/* footer_cont */
.footer_cont{
    width:80%;
    margin:2% 10%;
}
.foot_con_wrap{
    display:flex;
    justify-content:space-around;
}
.footer_cont .foot_logo{
    padding-top:30px;
}
.footer_cont .foot_logo figure{
}
.footer_cont .foot_logo img{
}

.foot_left{line-height:35px;}
.foot_address{margin-bottom:35px;}
.foot_address ul li{
    display:block;
}
.foot_info ul li{
    display:block;
}
.foot_center{line-height:35px;}
.foot_contacts{margin-bottom:5px;}
.foot_contacts ul li{
    display:block;
}
.foot_bank{}
.foot_bank ul li{
    display:block;
}
.foot_quick{line-height:35px;}
.foot_quick ul li{
    display:block;
}
.footer_cont div ul li:nth-of-type(1){
    font-weight:600;
}
/*-----------------반응형*/



/*


@media screen and (max-width: 767px){
    body {background: red;}
}
@media screen and (min-width: 768px) and (max-width:959px){
    body {background: green;}
}

@media screen and (min-width: 960px){
    body {background: white;}
}
*/
