@import url('/css/common.css');
ul,
li {
    list-style-type: none;
}

#total{
    width:100%;
}

/* header */

header{
    width:100vw;
    position:fixed;
    z-index:100;
    background-color:#fff;
    padding:1% 10%;
    border:1px solid #ccc;
}

header .header_wrap{
    width:100%;
    display:flex;
    justify-content:space-between;
}
.header_left{
    display:flex;
}
.header_wrap .logo{
    margin-right:5vw;
    margin-top:4%;
}
.header_wrap .logo figure{
    width:100%;
}
.header_wrap .logo figure img{
    width:100%;
}
/* -------------- navigation 1depth ---------------- */

.header_wrap nav{
    position:relative;
    width:100%;
}

.header_wrap nav > ul{
    display:flex;
    margin:5% 0%;
    position:relative;
    justify-content:space-between;
}
.header_wrap nav > ul > li{
    /* word-spacing:30px; */
}
nav ul li{
    position:relative;
    font-size:0;
    margin:0 4vw 0 0;
    /* text-align:center; */
}

nav ul li > a:nth-of-type(1){
    position:relative;
    font-size:0.9vw;
}

nav ul li > a:nth-of-type(1):after{
    content:'';
    position:absolute;
    left:50%;
    width:0%;
    height:2px;
    background:#333;
    transition:.5s;
    bottom:-5px;
}

nav ul li:hover > a:nth-of-type(1):after{
    width:100%;
    left:0;
}

nav ul li div{
    display:none;
    overflow:hidden;
}
nav ul li div.active{
    display:block; 
}
/* nav ul li:hover div{
    display:block;
} */
nav ul li div > a{
    margin-top:15px;
    line-height:30px;
    text-align:center;
    display:block
}
nav ul li div > a{
    font-size:0.7vw;
}
nav ul li div > a:hover{
    background-color:#ccc;
}
nav ul li div > a:hover{
    color:#fff;

}
.burger_menu{
    display:none;
}
.burger_menu span{
    width:20px;
    height:2px;
    background:#333;
    position:absolute;
    display:none;
}
.burger_menu span:nth-of-type(1){
    top:6px;
}
.burger_menu span:nth-of-type(2){
    top:12px;
}
.burger_menu span:nth-of-type(3){
    top:18px;
}

.header_right{
    display:flex;
}
/* ---------------- header quick_menu --------------- */
.header_wrap .quick_menu{
    margin:35px 0;
    word-spacing:15px;
}
.header_wrap .quick_menu a{}


.header_wrap .quick_menu a img{
    width:15px;
    height:15px;
}
.header_wrap .search_box{
    margin:35px 0;
}
/* .header_wrap .search_box form{}
/* .search_box input{
    border-top:none;
    border-right:none;
    border-left:none;
} */
/* .search_box img{
    width:15px;
    height:15px;
} */

/* body - section */

section{
    width:100%;
}

section .visual_wrap{
    position:relative;
    width:100%;
}

/* ---------------------------- visual --------------------- */

/* visual - figure */
section .visual{
    position:relative;
    width:100%;

}
section .visual figure{
    width:100%;
    display:flex;
    position:relative;
    height:100vh;
}
section .visual figure img{
    width:100%;
    height:100%;
    position:absolute;
}
section .visual figure img:nth-of-type(2){
    display:none;
}
section .visual figure img:nth-of-type(3){
    display:none;
}
section .visual figure img:nth-of-type(4){
    display:none;
}
section .visual figcaption{
    width:100%; height:100%;
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;

}
section .visual figcaption p{
    text-align:center;
    color:#fff;
    white-space:pre-line;
    font-size:2.5vw;
}
/* visual - indigator */
/* visual - indigator - ul */
.indigator{
    z-index:10;
    position:absolute;
    left:46vw;
    bottom:5%;
}
.indigator ul{
    display:flex;
}
.indigator ul li{
    margin:0 10px;
}

.indigator ul li:hover{
    transform:scale(2);
    transition:.2s;
}
.indigator ul li img{
    width:1vw;
    height:1vh;
}

/* ------------------------- best ------------------------- */
/* best - tit */
.best_tit {
    text-align:center;
}
.best_tit p{
    margin:100px 0 50px 0;
    position:relative;
}
.best_tit p span{
    background:#fff;
    font-size:3em;
    z-index:10;
    padding:0 30px;
}
.best_tit p::after{
    content:'';
    width:100%;
    height:2px;
    background-color:#333;
    position:absolute;
    left:0;
    top:38px;
    z-index:-1;

}

/* .best_cont */

.best_wrap{
   width:100%;
    
}
.best_cont{
    margin:2% 12%;
    position:relative;
}
.best_cont figcaption{
    text-align:center;
    font-size:15px;
}
/* top middle bottom */
.best_cont{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}

.best_cont figure{
    margin:2% 0;
    position:relative;
}

/* ---------------------------- hover_box --------------- */
.hover_box{
    position:absolute;
    left:0;
    top:0;
    display:inline-block;
    z-index:1;
    background:rgba(255,255,255,.9);
    opacity:0;
    text-align:center;
    width:100%;
    height:0%;
}
.hover_box  button{
    margin-top:50%;
    z-index:2;
    border:0;
    position:relative;
    padding:0 5px;
}

.hover_box button:after{
    content:'';
    border:1px solid #fff;
    background:rgba(0,0,255,.8);
    width:0%;
    height:2px;
    display:block;
    position:absolute;
    left:0;
    bottom:-10%;
    opacity:0;
    

}
.hover_box button img:last-child{
    display:none;
}
.hover_box button:hover img:first-child{
    display:none;
}
.hover_box button:hover img:last-child{
    display:inline-block;
    transition:.5s;
    width:100%;
}

.hover_box button:hover:after{
    display:block;
    width:100%;
    height:2px;
    opacity:1;
    transition:.5s
}
.best_cont figure:hover .hover_box{
    opacity:1;
    transition:.5s;
    height:80%;
}
.hover_box button img{
    width:20px;
    height:20px;
}
.best_cont figure img{
    width:100%;
}
.best_cont figure figcaption{
    padding:25px 0;
    background:#ccc;
    line-height:20px;
}

/* "more" */
.link{
    vertical-align:middle;
    text-align:center;
}
.link img{
    margin-left:10px;
    margin-bottom:2px;
}
/* ------------------ Product ---------------------------- */
/* product_tit */
.product_tit{
    text-align:center;
}
.product_tit p{
    margin:8% 0 5% 0;;
    position:relative;
}
.product_tit p::after{
    content:'';
    width:100%;
    height:2px;
    background-color:#333;
    position:absolute;
    left:0;
    top:38px;
    z-index:-1;
    display:inline-block;
}
.product_tit p span{
    font-size:3em;
    background:#fff;
    z-index:10;
    padding:0 30px;

}

/* product_wrap */
.product_wrap{
    width:80vw;
    position:relative;
    overflow:hidden;
    left:200px;
}
.product_cont{
    width:100vw;
    display:flex;
    justify-content:space-around;
    position:relative;
    left:-190px;
    padding:50px;
    background:rgba(0,0,0,.5)
}

.product_cont > div{
    margin:0 100px;
    width:100%;
    background:rgba(255,255,255,1)
}
.product_cont img{
    width:450px;
    height:450px;
}

.product_cont div p{
    font-size:15px;
}

.p_cont1,.p_cont2,.p_cont3{
    display:flex;
    width:80%;
}
.p_cont1 div{

    padding:80px 30px;
    width:450px;
    height:450px;
}
.p_cont1 div p{
    line-height:60px;
}

.p_cont2 div {

    padding:80px 30px;
    width:450px;
    height:450px;
}
.p_cont2 div p{
    line-height:60px;
}

.p_cont3 div{

    padding:80px 30px;
    width:450px;
    height:450px;
}
.p_cont3 div p{
    line-height:60px;
}
.product_cont div p:nth-of-type(1){
    font-size:30px;
    font-weight:600;
}
.product_cont div p:nth-of-type(2){
    font-size:15px;
}
.product_cont div p:nth-of-type(3){
    font-size:1.5vw;
    font-weight:500;
}

.product_button{
    position:absolute;
    left:13%;
    top:50%;
    width:60vw;
    overflow:hidden;
}
.product_buttom figure{
    width:100%;
}
.product_button figure img{
    width:3vw;
    height:5vh;
}
.product_button .icon_right{
    float:right;
}
.product_button .icon_left{
    float:left;
}
.product_button .icon_right:hover img{
    transform:scale(1.1);
    transition:.5s;
}
.product_button .icon_left:hover img{
    transform:scale(1.1);
    transition:.5s;
}
.p_cont2:hover{
    transform:scale(1.05);
    z-index:3;
    transition:1s;
}

/* footer */

footer{
    width:100%;

    margin:35px 0;
}
.footer_tit{
    width:100%;
    padding:0 11% ;
    background:#ccc;}
.tit_wrap{
    width:100%;
    display:flex;
    justify-content:space-between;
}
.sitemap{
    margin-right:35px !important;
}
.footer_tit ul{
    display:flex;
    margin:2% 0;
    justify-content:space-around;
}
.footer_tit div{
    display:flex;
    margin:2% 0;
}

.footer_tit ul li{
    margin:0 35px;
}

.footer_tit div p{
    margin:0 35px;
}

/* footer_cont */
.footer_cont{
    width:80%;
    margin:2% 10%;
}
.foot_con_wrap{
    display:flex;
    justify-content:space-around;
}
.footer_cont .foot_logo{
    padding-top:30px;
}
.footer_cont .foot_logo figure{
}
.footer_cont .foot_logo img{
}

.foot_left{line-height:35px;}
.foot_address{margin-bottom:35px;}
.foot_address ul li{
    display:block;
}
.foot_info ul li{
    display:block;
}
.foot_center{line-height:35px;}
.foot_contacts{margin-bottom:5px;}
.foot_contacts ul li{
    display:block;
}
.foot_bank{}
.foot_bank ul li{
    display:block;
}
.foot_quick{line-height:35px;}
.foot_quick ul li{
    display:block;
}
.footer_cont div ul li:nth-of-type(1){
    font-weight:600;
}


/*------------------------media-----------------------*/


@media(max-width:1024px){
    header{
        width:100vw;
    }
    .header_left{
        margin:0 auto;
    }
    nav, .header_right{
        display:none;
    }
    .burger_menu{
        position:absolute;
        right:10%;
    }
    .burger_menu span{
        display:block;
    }
    section .visual figure{
        width:100%;
        height:50vh;
    }
    .visual figure img{
        width:100%; height:100%;
    }
    .indigator{
        position:absolute;
        left:44vw;
    }

    .product_wrap{
        width:80vw;
        position:relative;
        overflow:hidden;
        left:0;
        margin:0 auto;
    }

    .product_cont{
        width:80vw;
        justify-content:space-around;
        position:relative;
        background:rgba(0,0,0,.5);
        left:0;
        padding:0;
    }

    .p_cont1,.p_cont2,.p_cont3{
        
        width:80vw;
    }
    .product_cont > div{
        margin:0;
        width:100%;
        background:rgba(255,255,255,1)
    }
    .product_cont .p_cont1{

        margin-left:0;
    }
    
    .product_button{
        left:0%;
        width:80vw;
    }

    .footer_tit{
        padding:0 11% ;}

    .tit_wrap{
        width:100%;
    }
    .sitemap{
        margin-right:0 !important;
    }
    .footer_cont{
        width:80%;
        margin:2% 10%;
    }
}
@media(max-width:768px){
    header{
        width:100vw;
    }
    nav, .header_right{
        display:none;
    }
    .burger_menu{
        position:absolute;
        right:10%;
    }
    .burger_menu span{
        display:block;
    }
    section .visual figure{
        width:100%;
        height:50vh;
    }
    .visual figure img{
        width:100%; height:100vw;
    }
    .indigator{
        position:absolute;
        left:43vw;
    }

    .product_wrap{
        width:100%;
        position:relative;
        overflow:hidden;
        left:0%;
        margin:0 auto;
        
    }
    .product_cont{
        width:100%;
        position:relative;
        left:0%;  
        padding:0 10%;    
    }

    .p_cont1, .p_cont2, .p_cont3{
        width:80vw;
    }
    .product_cont > div{
        margin:0 5% 0 40%;
        width:100%;
    }
    .product_button{
        width:100%;
        left:0%;
    }
    .cont1_text, .cont2_text, .cont3_text{
        position:absolute;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        text-align:center;
    }
    
    .cont1_text, .cont2_text, .cont3_text p{
        font-size:0.5vw;
    }

    .footer_tit{
        padding:0 11% ;}

    .tit_wrap{
        width:100%;
    }
    .sitemap{
        margin-right:0 !important;
    }
    .footer_cont{
        width:80%;
        margin:2% 10%;
    }

    .foot_con_wrap{
        display:block;
    }

    .foot_con_wrap .foot_logo{
        text-align:center;
        margin-bottom:3%;
    }
    .foot_left, .foot_info{
        display:block;
        float:left;
    }
    .foot_left{
        margin-left:5%;
        margin-bottom:5%;
    }
    .foot_center{
        float:right;
        display:block;
        margin-right:5%;
    }
    .foot_contacts, .foot_bank{
        display:block;
    }
    .foot_quick{
        display:none;
    }
}
@media(max-width:480px){
    header{
        width:100vw;
    }
    nav, .header_right{
        display:none;
    }
    .burger_menu{
        position:absolute;
        right:10%;
    }
    .burger_menu span{
        display:block;
    }

    section .visual figure{
        width:100%;
        height:50vh;
    }
    .visual figure img{
        width:100%; height:100vw;
    }
    .indigator{
        position:absolute;
        left:38vw;
    }

    .product_wrap{
        width:100vw;
        position:relative;
        left:0;
        margin:0 auto;
    }

    .product_cont > div{
        width:100%;
        margin:0;
    }

    .product_cont{
        width:100vw;
        position:relative;
        left:0;
        padding:0;
    
    }
    .p_cont1,.p_cont2,.p_cont3{
        position:relative;
        width:80vw;
    }

    .product_button{
        width:80%;
        left:10%;
        z-index:40;
    }
    .cont1_text, .cont2_text, .cont3_text{
        position:absolute;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        text-align:center;
    }
    
    .cont1_text, .cont2_text, .cont3_text p{
        font-size:0.5vw;
    }
    .footer_tit{
        padding: 0 5%;
        background-color:#fff;
    }
    .footer_tit .sitemap{
        display:none;
    }
    .tit_wrap ul{
        margin:0 auto;
    }
    .tit_wrap ul li a{
        font-size:1vw;
    }
    .foot_con_wrap{
        display:flex;
        justify-content:center;
    }
    .foot_logo{
        margin:0 auto;
    }
    .foot_left, .foot_center, .foot_quick{
        display:none;
    }



    @media(max-width:375px){
        .cont1_text, .cont2_text, .cont3_text{
            position:absolute;
            display:flex;
            justify-content:center;
            align-items:center;
            flex-direction:column;
            text-align:center;
            left:-10%;
        }
        
    }
}